<ion-header no-border>
  <ion-navbar color="primary">
    <ion-item style="padding-left:0px !important;background:0 !important;margin-left:-16px !important;color:#fff">
      <ion-avatar item-start navPop>
        <ion-text-avatar size="1">
          <img src="{{user.picture.thumbnail}}" style="margin-left: -16px">
        </ion-text-avatar>
      </ion-avatar>
      <span style="font-size: 17px;
      font-weight: 600;
      text-overflow: ellipsis;
      letter-spacing: 0.3px;
      overflow: hidden;
      white-space: nowrap;
      width: 130px;display: block;">
      {{user.name.first | titlecase}} {{user.name.last | titlecase}}
      </span>
      <span class="display: block;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0;" id="UserStatus">Online</span>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-only cache-view="false" style="margin: 10px;">
        <ion-icon color="white" name="videocam" item-end></ion-icon>
      </button>
      <button ion-button icon-only cache-view="false" style="margin: 10px;">
        <ion-icon color="white" name="call" item-end></ion-icon>
      </button>
      <button ion-button icon-only cache-view="false">
        <ion-icon color="white" name="more" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="conversation">
    <div class="conversation-container">

      <div class="message sent">
        What happened last night?
        <span class="metadata">
          <span class="time">{{date | moment:'h:mm A'}}</span>
          <span class="tick">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076">
              <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                fill="#4fc3f7" />
            </svg>
          </span>
        </span>
      </div>
      <div class="message received">
        You were drunk.
        <span class="metadata">
          <span class="time">{{date | moment:'h:mm A'}}</span>
        </span>
      </div>
      <div class="message sent">
        No I wasn't.
        <span class="metadata">
          <span class="time">{{date | moment:'h:mm A'}}</span>
          <span class="tick">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076">
              <path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
                fill="#4fc3f7" />
            </svg>
          </span>
        </span>
      </div>
      <div class="message received">
        <span id="random">You were hugging an old man with a beard screaming "DUMBLEDORE YOU'RE ALIVE!"</span>
        <span class="metadata">
          <span class="time">{{date | moment:'h:mm A'}}</span>
        </span>
      </div>
    </div>
    <div class="chatBoxArea">
      <ion-icon class="chatSmiley" color="white" name="happy" item-start></ion-icon>
      <ion-icon class="firstInputRightButton InputRightButtons" color="white" name="attach" item-end></ion-icon>
      <ion-icon class="InputRightButtons" color="white" name="camera" item-end></ion-icon>
      <ion-textarea [(ngModel)]="message" rows="1" class="chatInput" type="text" placeholder="Bir mesaj yaz">
      </ion-textarea>
      <ion-fab class="micFab">
        <button ion-fab icon-only mini color="primary" *ngIf="message === ''">
          <ion-icon color="white" name="mic"></ion-icon>
        </button>

        <button ion-fab icon-only mini color="primary" *ngIf="message !== ''" (click)="sendMessage();">
          <ion-icon color="white" name="md-send"></ion-icon>
        </button>
      </ion-fab>
    </div>


  </div>



</ion-content>