page-show-status {
  .progress {
    background: rgba(255, 255, 255, 0.5);
    height: 3px;
    margin-top: 3px;
  }
  .bar {
    height: 3px;
    width: 0%;
    background-color: white;
  }
  .item-md.item-block .item-inner{
    border-bottom: 0 !important;
  }
  ion-label > span{
    display: block;
    line-height: 24px;
  }
}
